*::-webkit-scrollbar {
  display: none;
}

.navigationButtons {
  height: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding-bottom: 20px;
}

.navigationButtons a {
  padding: 5px 8px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  color: black;
  cursor: pointer;
}

.navigationButtons a:hover {
  color: white;
  background-color: #ebebeb;
}

.navigationActive a {
  color: white;
  background-color: #ebebeb;
}

.navigationDisabled a {
  opacity: 0.5;
}
